.hourofcode{
    padding: 150px 0px;
    background-image: url(./media/bg2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.hourofcodeUp{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.hourofcodeUp div:nth-child(1){
    padding: 50px;
    box-shadow: 10px 10px 55px -20px rgba(0,0,0,0.75);
    width: 50%;
    border-radius: 15px;
    background-color: #ffffff82;
}

.hourofcodeUp div:nth-child(1) h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #212529;
}

.hourofcodeUp div:nth-child(1) p{
    font-weight: 600;
    width: 100%;
    color: #333536;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-style: italic;
}

.video{
    width: 30%;
    height: 100%;
    margin: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

}

.video h3{
    margin-top: 20px;
    padding-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    color: #ffc800;
    font-size: 25px;
    font-style: italic;
}

.video iframe{
    width: 100%;
    height: 500px;
    box-shadow: 10px 10px 55px -20px rgba(0,0,0,0.75);
    border-radius: 15px;
}

.video .bttn{
    margin-top: 40px;
    margin-left: 80px;
}

.hourofcodeMiddle{
    margin-top: 30px;
    padding: 30px 0px;
    width: 100%;
}

.pagiantion{
    margin: auto;
    width: 50%;
    border-radius:15px ;
    position: relative;
}

.pagiantion img{
    width: 100%;
    border-radius:15px ;
}

.pages{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}

.page{
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #2121211c;
    /* border: 1.5px solid #ffc800; */
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: 0.15s;
    color: #fff;
}

.page:hover{
    color: #ffc800;
    background-color: #2121215e;
    border: 1.5px solid #ffc800;

}

.current{
    color: #ffc800;
    background-color: #2121215e;
    border: 1.5px solid #ffc800;
 
}

.hourofcodeBottom{
    padding-top: 50px;
    width: 90%;
    margin: auto;
    position: relative;
}
.hourcard{
    width: 45%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.hourcode1{
    position: relative;
    left: 0;
    top: 0;
}

.hourcode2{
    position: absolute;
    top: 230px;
    right: 0;
}

.hourcode3{
    margin-top: 60px;
}

.hourrofcodeImg{
    width: 100%;
    border-radius: 15px;
}

.hourrofcodeImg img{
    width: 100%;
    border-radius: 15px;
}

.hourofcodeP{
    width: 100%;
    border-radius: 15px;
    background-color: #ffffff82;
    padding: 15px;
    box-sizing: border-box;
}

.hourofcodeP h4{
    color: #ffc800;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 15px 0px;
}

.hourofcodeP p{
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    color: #333536;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}   

.hourofCodeA{
    margin-top: 30px;
    position: absolute;
    top: 70px;
    right: 210px;
}
