*{
    padding: 0;
    margin: 0;
}

header{
    position: fixed;
    width: 100%;
    transition: 0.15s;
    background-color:rgb(69 71 75 / 44%);  
    padding: 20px 0px;
    z-index: 100;
}

.sticky{
    background-color:rgb(145 144 151);
    padding: 12px 0px;
}

nav{
    width: 70%;
    margin: auto;
    z-index: 5;
    display: flex;
    justify-content: space-between ; 
}

nav ul{
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    transition: 0.15s;
}

nav ul li a:hover{
    color: #ffc800;
}

.home{
    width: 100%;
    text-align: center;
    padding: 150px 0px;
}

.home h1{
    font-family: 'Roboto', sans-serif;
    color: #ffc800;
    font-size: 40px;
    font-style: italic;
    padding-top: 50px ;
}

.home p{
    width: 60%;
    font-size: 20px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 25px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.5;
}

.home a{
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-decoration: none;
    transition: 0.15s;
    color: #ffc800;
}

.home h3 a:hover{
    color: #FFC436;
}

.home span{
    font-size: 17px;
    margin: auto;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

footer{
    width: 100%;
    position: relative;
    padding: 25px 0px;
    z-index: 5;
    background-color:rgb(69 71 75 / 44%); 
    color: #F5F7F8 ;
    margin-bottom: 0px !important;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px;
}

footer span {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #6c757db8;
    right: 15px;
    box-sizing: border-box;
    bottom: 90px;
    cursor: pointer;
    transition: 0.15s;
}

footer span i{
    font-size: 22px;
    padding-top: 14px;
}

.showup{
    display: block;
}

.bttn{
    width: 180px;
    height: 60px;
    background-color: #ffc800;
    text-align: center;
    border-radius: 8px ;
    line-height: 60px;
    transition: 0.15s;
    cursor: pointer;
}

.bttn a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.bttn:hover{
    background-color: #cca000;
}