.website{
    padding: 150px 0px;
    width: 90%;
    margin: auto;
}

.websiteIn{
    display: flex;
    justify-content: space-around;
}

.codeImg{
    width: 40%;
}

.codeImg h2{
    font-family: 'Montserrat', sans-serif;
    color: #ffc800;
    padding: 20px 5px ;
}
.codeImg img{
    width: 100%;
}

.codeP{
    width: 40%;
    background-color: #e0e0e096;
    padding: 40px;
    box-shadow: 10px 10px 55px -20px rgba(0,0,0,0.75);
    border-radius: 20px;
}
.codeP h2{
    font-family: 'Montserrat', sans-serif;
    color: #ffc800;
}
.codeP p{
    padding-top: 20px;
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: black;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;

}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    transition: 0.15s;
}

tr:hover {
    background-color: #f5f5f5;
}
table a{
    text-decoration: none;
    color: black;
    transition: 0.15s;
}
table a:hover{
    color: #ffc800;
}